#Trendy {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Oswald', serif;
  }

#trendshirts {
    position: relative;
}
#firstshirt {
    float: left;
    position: absolute;
}
#secondshirt {
    text-align: center;
    left: 100px;
}
#thirdshirt {
    text-align: center;
    right: 100px;
}
#fourthshirt {
    float: right;
    position: absolute;
}