#videoholder {
    border: 3px solid darkgrey;
    height: 500px;
    width: 100%;
}

.floatbox {
	margin: 25px 40px;
}

.floatbox:after {
	content: "";
	display: table;
	clear: both;
}

.floatbox .floatcell {
	float: left;
	width: 50%;
	padding: 0 20px;
	position: relative;
}

.floatbox img {
	/* Temporary highlight */
	border: 1px solid red;
	width: 100%;
}

.floatbox h2 {
	margin-top: 0;
	font-size: 28px;
}

#promotion {
	text-align: center;
	margin-bottom: 50px;
}

#promotion h2.big {
	font-size: 36px;
}

#promotion button {
	font-family: "Oswald", sans-serif;
	font-size: 20px;
	padding: 8px 24px;
	border-radius: 3px;
	background-color: var(--secondary);
	color: white;
	outline: none;
	border: 0;
	cursor: pointer;
}

#promotion button:hover {
	background-color: var(--primary);
	color: black;
	padding: 7px 23px;
	border: 1px solid var(--secondary);
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#promotion p.info {
	color: #636363;
	font-size: 16px;
}

#promotion span.promo {
	color: var(--secondary);
	font-weight: 600;
}

#promotion span.discount {
	font-size: 22px;
}
