#Trendy {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
  }

#trendshirts {
    position: relative;
    float:left;
    padding:100px;
}
#firstshirt {
    float:left;
}
/* #secondshirt {
    left: 100px;
} */
#thirdshirt {
    right: 100px;
}
/* #fourthshirt {

} */