#Trendy {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
  }

/*#trendshirts {
    position: relative;
    padding:100px;
} */

#trendshirts:after {
    content: "";
    clear: both;
    display: table;
 }

.pricetag {
	background-color: #BDECB6;
	text-indent: 5%;
	font-size: 35px;
	position: relative;
}

.pricetag img {
	max-height: 35px;
	max-width: 35px;
	position: absolute;
}

#trendshirts {
	display:flex;
	position:relative;
}
#trendshirts div {
	margin-left:25px;
	margin-right:25px;
	float:left;
}

#trendshirts img {
	width: 250px;
	height: 300px;
}

/* Just Placeholder */
.hovershirt {
	position: absolute;
	opacity: 0;
}
/* Work in Progress */
/*
.hovershirt {
	position: absolute;
	max-height: 80%;
	max-width: 30%;
    opacity: 0;
    transition: opacity .2s;
}
.hovershirt:hover {
	opacity: 1;
}
*/
