#Trendy {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Oswald', serif;
  }

#trendshirts {
    position: relative;
    float:left;
    padding:100p
}
#firstshirt {
    text-align: center;
}
#secondshirt {
    text-align: center;
    left: 100px;
}
#thirdshirt {
    text-align: center;
    right: 100px;
}
#fourthshirt {
    text-align: center;
}