@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
   --primary: #BDECB6;
   --secondary: #B44C43;
}

.LogoTR {
   position: relative;
   width: 115px;
   height: 115px;
   bottom: 500px;
   left: 100px;
   margin: 10px;
   background-color: darkgray;
   padding: 20px;
   border-radius: 50%;
}

body {
   font-family: Oswald, sans-serif; 
   margin:0;
}

header::after {
   content: "";
   clear: both;
   display: table;
}

header h1 {
   float: left;
   margin-left: 40px;
}

header nav {
   float: right;
   margin-top: 40px;
}

header nav a {
   display: inline;
   padding: 5px 10px;
   margin: 0 20px;
   color: black;
   text-decoration: none;
   background-color: var(--primary);
}

header nav a:hover {
   color: white;
   background-color: var(--secondary);
}