@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.LogoTR {
   position: relative;
   width: 115px;
   height: 115px;
   bottom: 500px;
   left: 100px;
   margin: 10px;
   background-color: darkgray;
   padding: 20px;
   border-radius: 50%;
}

body {
   font-family: Oswald, sans-serif; 
   margin:0;
}